{% extends 'store/main.html' %}
{% block content %}
    <h2>Categories</h2>
    <ul>
        {% for category in categories %}
            <li><a href="{% url 'category_detail' category.slug %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>

    <form method="get" action="{% url 'category_list_view' %}">
        <label for="category">Select Category:</label>
        <select name="category" id="category">
            <option value="">Select a category</option>
            {% for category in categories %}
                <option value="{{ category.slug }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Go</button>
    </form>
{% endblock %}
