{% extends "store/main.html" %}

{% block content %}
<h1>Change Password</h1>

<!-- Square Box Container -->
<div class="profile-update-box">
    <!-- Change Password Form -->
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label_tag }}
            {{ field }}
            <!-- No error messages displayed here -->
        {% endfor %}
        <button type="submit">Change Password</button>
    </form>

    <!-- Link to go back to the profile -->
    <a href="{% url 'profile' %}">Back to Profile</a>
</div>
{% endblock %}
